body {
    margin: 0;
    padding: 0;
    font-style: 'Open Sans', sans-serif;
    color: #626262;
    font-size: 13px;
}

body {
    margin: 0;
    padding: 0;
    font-style: 'Open Sans', sans-serif;
    color: #626262;
    font-size: 13px;
}

.img-header {
    background: url(../img/index/donations.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    width: 100%;
    height: 95vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-info {

    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white !important;
    text-transform: uppercase;
    width: 70%;
    margin: 0 auto;

}


.header-info h2 {

    font-size: 28px;
    font-weight: 600 !important;
    letter-spacing: 1px !important;
    line-height: 41px;
}

.header-info p {

    line-height: 24px;
    font-size: 15px;
    margin-top: 5% !important;
    text-align: center !important;
    letter-spacing: 2px !important;
}


/*Formulario donaciones*/

/* Estilo para el título */
.donacion h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 45px;
    font-size: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    width: 50% !important;
    margin-bottom: 0 !important;
    margin-bottom: 3% !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    color: black;

}




input,
textarea {
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #dfdfdf;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 8px 15px;
    width: 50%;
    margin: 0 0 20px 0;
    resize: none;
}



#opciones {
    
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 0px;
    width: 50%;
    margin: 0 auto;
   

}

#opciones div {
    font-size: 30px;
}

#cantidadPersonalizada{


    width: 50px;
    margin-left: 10px;
    
}

.opcion {
    cursor: pointer;
    border-radius: 50%;
    color: #2563eb;
    background-color: white;
    /* Fondo blanco */
    border: 2px solid #2563eb;
    /* Borde de 1px color azul */
    padding: 2px;
    width: 40px;
    /* Ajusta el ancho según tu necesidad */
    height: 40px;
    /* Ajusta la altura según tu necesidad */
    display: flex;
    align-items: center;
    justify-content: center;
}

.opcion:hover {
    background-color: black;
    color: white;
    transition: all 0.3s;
}


/*Seccion de donaciones*/


.carrrusel-title{

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 45px;
    font-size: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    width: 50% !important;
    margin-bottom: 0 !important;
    margin-bottom: 3% !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    color: black;
    margin-top: 3% !important;
}
.linea {
    border-bottom: solid 7px rgb(235, 52, 52);
    margin: 1em auto;
    width: 100px;
}