/*imagen header*/

.img-header {
    background: url(../img/index/programando_index.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    width: 100%;
    height: 100vh;

}

.img-header .header-info,
.header-button {
    position: absolute;
    /*Quiero que sea flex, y que la dirección del texto, sea en columna */
    display: flex;
    /*Position Y*/
    justify-content: center;
    /*En columna*/
    flex-direction: column;
    /*Margin-top por arriba de 0*/
    top: 0px;
    /*  Anchura que ocupe el 100% de la ventana*/
    width: 100%;
    /* Altura que ocupe el 100% de la ventana*/
    height: 100%;
    left: 0%;
    /*Position X*/
    align-items: center;
    z-index: 100;
}

.img-header .header-info h2 {

    color: white;
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 35px;

}

.blue-box {
    background-color: #087ec4 !important;
    display: inline-block;
    /* Asegura que el fondo solo ocupe el ancho del contenido */
    padding: 30px;
    /* Ajusta el relleno según sea necesario */
}

.img-header .header-info hr {
    height: 2px;
    background: white;
    width: 600px;
    margin: 15px 0;

}

.img-header .header-info p {

    color: white;
    font-size: 15px;
    width: 70%;
    margin: 0 auto;
    letter-spacing: 1px;
    text-transform: uppercase;

}

/* Estilos del botón */
.mini-button {
    background-color: white;
    /* Color del botón */
    /* Color del texto del botón */
    text-decoration: none;
    border-radius: 5px;
    /* Bordes redondeados */
    color: black;
    border-radius: 2px;
    font-size: 17px;
    padding: 0px 8px;
    margin-top: 475px;

}

.mini-button:hover {
    background-color: black;
    color: white;
    /* Color del botón al hacer hover */
}


/* Estilo para la sección en blanco */
.white-section {
    background-color: #ffffff;
    /* Color de fondo blanco */
    position: relative;
    width: 100%;
    height: 130vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

/* Estilo para el título */
.white-section h2 {
    font-weight: 700;
    line-height: 45px;
    font-size: 36px;
    letter-spacing: normal;
    text-transform: uppercase;
    width: 50% !important;
    margin-bottom: 0 !important;
    margin-top: 4% !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    color: black;

}

/* Estilo para el texto */
.white-section p {
    line-height: 26px;
    font-size: 14px;
    width: 50% !important;
    margin-bottom: 0 !important;
    margin-top: 4% !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both;
    text-align: center;


}

/*Botón contáctame index*/
.button-contactame {
    background: none;
    border: solid 2px black;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    outline: none;
    padding: 2px 14px !important;
    text-transform: uppercase;
    transition: all 0.3s;
    letter-spacing: 1px;
    line-height: 55px !important;
    font-weight: 600;
}

/*Texto interested index*/
.interested {
    margin-bottom: 2% !important;
    font-size: 14px;
}

.button-contactame:hover {
    background: black;
    color: white;
}

/*Sección sobre mi index comienzo*/


.grid-container {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    /* Dos columnas de tamaño igual */
    font-size: 15px;


}

.item1 {
    grid-column: span 2;
    /* Este item ocupa las dos columnas */
}

.item2,
.item3 {
    /* Ambos items ocupan la mitad del ancho en la misma línea */
    grid-column: span 1;

}


.item4,
.item5 {
    /* Ambos items ocupan la mitad del ancho en la misma línea */
    grid-column: span 1;
}

.blue-box1 {
    background-color: #087ec4;
    color: white;
    padding-top: 3% !important;
    padding-bottom: 3% !important;
    font-size: 11px;
    text-align: center;
    line-height: 15px;
    font-weight: 600 !important;
    letter-spacing: 2px !important;
    text-transform: uppercase;
    margin-bottom: -8px !important;
}


.photo1-about-me,
.photo2-about-me {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.title-about-me,
.text1-about-me {
    padding: 20px;
}


.progress-value {
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: linear-gradient(90deg, #087ec4 0%, #087ec4 68%, #ccc 68%, #ccc 100%);
    height: 10px;


}

/* Ajusta las animaciones para reflejar los nuevos porcentajes */
.progress1 .progress-value {
    animation: load1 3s normal forwards;
    margin-bottom: 20px;
    width: 30%; 
}

.progress2 .progress-value {
    animation: load2 3s normal forwards;
    margin-bottom: 20px;
}

.progress3 .progress-value {
    animation: load3 3s normal forwards;
    margin-bottom: 20px;
}

.progress4 .progress-value {
    animation: load4 3s normal forwards;
    margin-bottom: 20px;
}

.progress5 .progress-value {
    animation: load5 3s normal forwards;
    margin-bottom: 20px;
    width: 50%; /
}

@keyframes load1 {
    0% {
        width: 50%;
    }

    100% {
        width: 40%;
    }
}


@keyframes load2 {
    0% {
        width: 50%;
    }

    100% {
        width: 70%;
    }
}

@keyframes load3 {
    0% {
        width: 50%;
    }

    100% {
        width: 90%;
    }
}

@keyframes load4 {
    0% {
        width: 50%;
    }

    100% {
        width: 35%;
    }
}

@keyframes load5 {
    0% {
        width: 50%;
    }

    100% {
        width: 60%;
    }
}






/*My stats section*/

.my-stats {
    margin-top: 5% !important;

}

.my-stats-image {
    background: url(../img/index//programando2_index);
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    width: 100%;
    height: 65vh;
    background-position:  center ; /* Ajusta esto según tus necesidades */

}


.number-container {
    font-size: 48px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* Cambia a 'column' si prefieres la disposición vertical */
    color: white;
}

.number-container span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
    /* Ajusta el espaciado entre cada número e icono según tus necesidades */
}