body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    
}
header{
    background-color: black;
   
}
nav {
    position: relative;
    width: 100%;
    top: 0;
    background-color: transparent;
    z-index: 1000;
    transition: background-color 0.5s ease;
    display: flex;
    height: 65px;
    align-items: center;

}

.log-box {
    padding: 1.5em;
    width: 20%;
}

.btn-menu {

    display: none;
}


.nav1-principal {
    list-style: none;
    display: flex;
    padding: 1.7em;
    justify-content: flex-end;
    margin-left: auto;
    /* Mueve el menú hacia la derecha */
    color: white;
    

}

.nav1-principal li {
    margin: 0 20px;
}

.nav1-principal li a {
    color: white;
    text-decoration: none;
    padding-bottom: 1em;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 1px;


}

.nav1-principal a:hover {
    border-bottom: 2px solid white;


}

.nav1-principal li a.active {
    border-bottom: 2px solid white;
}





.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}



h1 {
    text-align: center;
    margin: 0;
}

h2 {
    margin-top: 30px;
    color: #333;
}

p {
    margin-bottom: 20px;
    color: #555;
}

footer {
    background-color: black;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}