<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--Logo y titulo en la pestaña-->
    <link rel="icon" href="view/img/index/ja_final.png" type="image/png" sizes="32x32">
    <title>ArmaDev by Julen Armaolea</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Enlace a la biblioteca flag-icon-css para iconos de banderas -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    <!-- Mi CSS -->
    <link rel="stylesheet" href="../css/main.css" class="css">
    <link rel="stylesheet" href="../css/apoyar.css" class="css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/typed.js@2.0.12/dist/typed.min.css">

    <!--Data AOS CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" />

    <!--Animate CSS para abrir la modal con transición desde el botón-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

    <!--PayPal sistema de pagos SDK-->
    <script
        src="https://www.paypal.com/sdk/js?client-id=AT-FpvT_iWqLPgQBMCU_L-ohOjzVPtVL3QV-gZCb2RI1Wc3SimIF5hiw8bncw9s9HnvVAM92BLnUM973">
    </script>

    <!-- Librería Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" />




</head>


</head>

<body id="pageBody">
    <header>
        <nav id="navbar">
            <!-- Logotipo en la parte superior izquierda -->
            <div class="log-box">
                <img id="scrollImage" src="../img/index/armadev_blanco.png" height="30px" alt="">
            </div>

            <!-- Menú de navegación principal -->
            <ul class="nav1-principal">
                <li><a href="../../index.html">INICIO</a></li>
                <li><a href="" id="sobre mi">SOBRE MÍ</a></li>
                <li><a href="view/pages/portfolio.html" id="portfolio">PORTFOLIO</a></li>
                <li><a href="">TECNOLOGÍAS</a></li>
                <li><a href="view/pages/apoyar.html" class="active">APOYAR</a></li>
                <li><a href="view/pages/contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
        <div class="img-header">
            <!--Inside the image, the text-->
            <div class="header-info">
                <h2 id="titulo" class="hidden-text">
                    <div class="blue-box">¡Tu Apoyo Hace la Diferencia!</div>
                </h2>
                <p id="parrafo" class="hidden-text"> ¡Hola! Si encuentras valor en mi contenido, tu apoyo es bienvenido.
                    Puedes contribuir
                    compartiendo o considerando una donación. Cada gesto cuenta y ayuda a mejorar este proyecto.</p>

            </div>
            <div class="header-button">
                <a class="mini-button" id="button1">
                    <i class="fas fa-chevron-down"></i>
                </a>
            </div>
        </div>

    </header>



    <!-- Contenedor del botón de PayPal -->

   

    <div class="donacion jumbotron" style="margin: 0 auto; text-align: center; ">
        <h2 class="modal-title">Buy an Armadev coffee</h2>
        <div id="opciones">
            <div  onclick="seleccionarCantidad(1)">☕</div> 
            <div class="opcion" onclick="seleccionarCantidad(1)">1</div>
            <div class="opcion" onclick="seleccionarCantidad(3)">3</div>
            <div class="opcion" onclick="seleccionarCantidad(5)">5</div>
            <!-- Input más pequeño para la cantidad personalizada -->
            <input type="text" id="cantidadPersonalizada" aria-label="cantidadPersonalizada" >
        </div>
        <input type="text" id="donacionNombre" placeholder="Tu nombre" aria-label="Username">
        <textarea id="donacionMensaje" aria-label="With textarea" placeholder="Mensaje(Opcional)"></textarea>
    
        <!-- Total a pagar -->
        <p>Total a pagar: <span id="totalSoporte">0</span>€</p>
    
        <!-- Contenedor del botón de PayPal -->
        <div id="paypal-button-container" style="max-width: 300px; margin: 0 auto; display: flex; justify-content: center;"></div>
    </div>
    


    <div class="carrusel">
        <h2 class="carrrusel-title">Donaciones</h2>
        <div class="owl-carousel owl-theme " id="donaciones">


        </div>
    </div>

    <!-- Boton de subir arriba -->
    <button class="go-top"><i class="fas fa-arrow-up fa-2x"></i></button>
    <!-- Footer -->
    <footer class=" jumbotron container-fluid py-4 mb-0 ">
        <!-- Sección con las columnas -->
        <div class="container">
            <div class="row">
                <!-- Columna 1 -->
                <div class="col-md-3 ">
                    <h5>Sobre mí</h5>
                    <p>Mi nombre es Brais Moure, full-stack developer. </p>
                    <p>MoureDev es el reflejo de mi ilusión por crecer como profesional dentro de la industria del
                        desarrollo del
                        software. Como freelance, me he especializado en desarrollo de aplicaciones iOS, Android y
                        web.
                    </p>
                </div>
                <!-- Columna 2 -->
                <div class="col-md-3 ">
                    <h5>Ultimos proyectos</h5>
                    <h6>EITB programs</h6>
                    <h6>Misacri</h6>
                    <h6>Sagarra jo</h6>
                    <h6>ZAP</h6>
                </div>
                <!-- Columna 3 -->
                <div class="col-md-3">
                    <h5>Portfolio</h5>
                    <h6>Android</h6>
                    <h6>Ios</h6>
                    <h6>Web</h6>
                </div>
                <!-- Columna 4 -->
                <div class="col-md-3">
                    <h5>Armadev</h5>
                    <h6>Sobre mi</h6>
                    <h6>Contacto</h6>
                    <h6>Politica de cookies</h6>
                    <h6>Politica de privacidad</h6>
                </div>
            </div>
            <!-- Línea divisoria -->
            <hr class="my-4">
            <!-- Enlaces y redes sociales -->
            <div class="d-flex justify-content-between">
                <!-- Enlaces -->
                <div class="enlaces-footer">
                    <a href="#">Inicio</a>
                    <a href="#">Sobre mi</a>
                    <a href="#">Portfolio</a>
                    <a href="#">Tecnologías</a>
                    <a href="#">Contacto</a>
                </div>
                <!-- Redes sociales -->
                <div class="redes-sociales">
                    <a href="https://www.linkedin.com/in/julen-armaolea-elexgaray-342208195/" target="_blank"><i
                            class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/julenarma.10" target="_blank"><i
                            class="fab fa-instagram"></i></a>
                    <a href="https://github.com/julenarma" target="_blank"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Sección en color negro con el texto adicional y el logo -->
    <div class="container-fluid bg-dark text-white py-3">
        <div class="container d-flex justify-content-between align-items-center">
            <!-- Texto adicional -->
            <p class="text-muted mb-0">
                © 2023 ARMADEV BY JULEN ARMAOLEA BUILDING SOFTWARE WITH ♥ FROM BASQUE COUNTRY TO THE WORLD.
                |
                <a href="#">POLÍTICA DE PRIVACIDAD</a>
            </p>
            <!-- Logo a la derecha -->
            <img src=".../../view/img/index/armadev_blanco.png" alt="Logo" height="30">
        </div>
    </div>



    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Enlace a Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Enlace a Font Awesome JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"></script>
    <!-- Typed JS -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <!--Mi Javascript-->
    <script src="../js/main.js"></script>
    <script src="../js/apoyar.js"></script>
    <!--Data AOS JS-->
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

    <!-- Librería Owl Carousel JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous"></script>

</body>

</html>