<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--Logo y titulo en la pestaña-->
    <link rel="icon" href="../../view/img/index/ja_final.png" type="image/png" sizes="32x32">
    <title>ArmaDev by Julen Armaolea</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Enlace a la biblioteca flag-icon-css para iconos de banderas -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    <!-- Mi CSS -->
    <link rel="stylesheet" href="../css/main.css" class="css">
    <link rel="stylesheet" href="../css/contacto.css" class="css">

    <!--Data AOS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" />

</head>


</head>

<body id="pageBody">
    <header>
        <nav id="navbar">
            <!-- Logotipo en la parte superior izquierda -->
            <div class="log-box">
                <img id="scrollImage" src="../../view/img/index/armadev_blanco.png" height="30px" alt="">
                <span class="btn-menu" id="toggleMenu"><i class="fas fa-bars"></i></span>
            </div>

            <!-- Menú de navegación principal -->
            <ul class="nav1-principal">
                <li><a href="../../index.html">INICIO</a></li>
                <li><a href="" id="noticia">SOBRE MÍ</a></li>
                <li><a href="">TECNOLOGÍAS</a></li>
                <li><a href="../pages/apoyar.html">APOYAR</a></li>
                <li><a href="../pages/contacto.html" class="active">CONTACTO</a></li>
            </ul>
        </nav>
        <div class="img-header">
            <!--Inside the image, the text-->
            <div class="header-info">
                <h2>¡Hablemos!</h2>
                <p>Estoy emocionado/a de escucharte. Si tienes alguna pregunta, comentario o simplemente quieres
                    saludar, no dudes en ponerte en contacto conmigo. ¡Responderé lo más pronto posible!</p>
                <a class="button-contactame">CONTACTA CONMIGO</a>
            </div>
        </div>

    </header>

    <!-- Sección en blanco con título y texto -->
    <section class="white-section">
        <div class="text">
            <p class="title_contact">Métodos de contacto</h2>
                <p class="text_contact">¡Me entusiasma recibir tus comentarios! Si tienes preguntas, comentarios o
                    simplemente quieres
                    saludar, no dudes en ponerte en contacto conmigo. Responderé con prontitud.</p>

                <p class="text_contact">Además, tienes la opción de utilizar el formulario de contacto a continuación o
                    enviarme un correo
                    electrónico a <a href="mailto:julenarmelex@gmail.com">julenarmelex@gmail.com</a>.</p>

                <p class="text_contact">También puedes encontrarme en diversas plataformas:</p>

                <div class="redes">
                    <a href="https://www.linkedin.com/in/julen-armaolea-elexgaray-342208195/" target="_blank"><i
                            class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/julenarma.10" target="_blank"><i
                            class="fab fa-instagram"></i></a>
                    <a href="https://github.com/julenarma" target="_blank"> <i class="fab fa-github"></i></a>
                </div>


        </div>
        <form class="form" method="post">
            <span class="mb-3">
                <input type="text" id="nombreContacto" placeholder="TU NOMBRE">
            </span>
            <span class="mb-3">
                <input type="text" id="emailContacto" placeholder="TU EMAIL">
            </span>
            <span class="mb-3">
                <input type="text" id="asuntoContacto" placeholder="ASUNTO">
            </span>
            <span class="mb-3">
                <textarea rows="3" id="mensajeContacto" placeholder="MENSAJE"></textarea>
            </span>
            <button type="button" class="button-form" onclick="enviarContactoForm()" id="botonContactoEnviar">Enviar
                mensaje</button>

        </form>
        <div class="map">
            <!--Maps-->
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46451.08014436758!2d-2.728127478552371!3d43.310229356479866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4e3a1bb97a1587%3A0x404f58273cba070!2sGernika-Lumo%2C%20Bizkaia!5e0!3m2!1seu!2ses!4v1702251013794!5m2!1seu!2ses"
                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            <!-- Fin Maps-->

        </div>
    </section>

   <!-- Boton de subir arriba -->
   <button class="go-top"><i class="fas fa-arrow-up fa-2x"></i></button>
    <!-- Footer -->
  <footer class=" jumbotron container-fluid py-4 mb-0">
    <!-- Sección con las columnas -->
    <div class="container">
      <div class="row">
        <!-- Columna 1 -->
        <div class="col-md-3 ">
          <h5>Sobre mí</h5>
          <p>Mi nombre es Julen Armaolea, full-stack developer. </p>
          <p>MoureDev es el reflejo de mi ilusión por crecer como profesional dentro de la industria del desarrollo del
            software. Como freelance, me he especializado en desarrollo de aplicaciones iOS, Android y web.</p>
        </div>

        <!-- Columna 2 -->
        <div class="col-md-3 ">
          <h5>Ultimos proyectos</h5>
          <h6>EITB programs</h6>
          <h6>Misacri</h6>
          <h6>Sagarra jo</h6>
          <h6>ZAP</h6>
        </div>

        <!-- Columna 3 -->
        <div class="col-md-3">
          <h5>Portfolio</h5>
          <h6>Android</h6>
          <h6>Ios</h6>
          <h6>Web</h6>
        </div>
        <!-- Columna 4 -->
        <div class="col-md-3">
          <h5>Armadev</h5>
          <h6>Sobre mi</h6>
          <h6>Contacto</h6>
          <h6>Politica de cookies</h6>
          <h6>Politica de privacidad</h6>
        </div>
      </div>

      <!-- Línea divisoria -->
      <hr class="my-4">

      <!-- Enlaces y redes sociales -->
      <div class="d-flex justify-content-between">
        <!-- Enlaces -->
        <div class="enlaces-footer">
          <a href="#">Inicio</a>
          <a href="#">Sobre mí</a>
          <a href="#">Tecnologías</a>
          <a href="#">Apoyar</a>
          <a href="#">Contacto</a>
        </div>

        <!-- Redes sociales -->
        <div class="redes-sociales">
          <a href="https://www.linkedin.com/in/julen-armaolea-elexgaray-342208195/" target="_blank"><i
              class="fab fa-linkedin"></i></a>
          <a href="https://www.instagram.com/julenarma.10" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://github.com/julenarma" target="_blank"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </div>



  </footer>
  <!-- Sección en color negro con el texto adicional y el logo -->
  <div class="container-fluid bg-dark text-white py-3">
    <div class="container d-flex justify-content-between align-items-center">
      <!-- Texto adicional -->
      <p class="text-muted mb-0">
        © 2024 ARMADEV BY JULEN ARMAOLEA BUILDING SOFTWARE WITH ♥ FROM BASQUE COUNTRY TO THE WORLD.
        |
         <a href="../pages/politica-privacidad.html" >POLÍTICA DE PRIVACIDAD</a>
      </p>
      <!-- Logo a la derecha -->
      <img src="../../view/img/index/armadev_blanco.png" alt="Logo" height="30">
    </div>
  </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Enlace a Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Enlace a Font Awesome JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"></script>
    <!--Mi Javascript-->
    <script src="../../view/js/main.js"></script>
    <script src="../../view/js/contacto.js"></script>

    <!--Data AOS JS-->
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

    <!--Sweet Alert 2-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</body>
</html>