<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donación Exitosa</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
        }

        h1 {
            color: #00cc00;
        }

        p {
            color: #333333;
        }
    </style>
</head>
<body>
    <h1>¡Donación Exitosa!</h1>
    <p>Agradecemos tu generosidad. Tu donación ha sido procesada con éxito.</p>
    <a href="../../index.html">Volver a la página de inicio</a>
</body>
</html>
