<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donación Exitosa</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
        }

        h1 {
            color: #00cc00;
        }

        p {
            color: #333333;
        }
    </style>
</head>

<body>
    <h1>¡Donación Exitosa!</h1>
    <p>Agradecemos tu generosidad. Tu donación ha sido procesada con éxito.</p>
    <div id="factura">
        <h2>Detalles de la Factura</h2>
        <!-- Los detalles de la factura se mostrarán aquí -->
    </div>
    <a href="../../index.html">Volver a la Página de Inicio</a>


    <!-- Incluye html2pdf.js desde un CDN -->
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>



    <script src="../js/factura_donacion.js"></script>

</body>

</html>