<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!--Logo y titulo en la pestaña-->
  <link rel="icon" href="../../view/img/index/ja_final.png" type="image/png" sizes="32x32">
  <title>ArmaDev by Julen Armaolea</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Enlace a Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Enlace a la biblioteca flag-icon-css para iconos de banderas -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
  <!-- Mi CSS -->
  <link rel="stylesheet" href="../css/main.css" class="css">
  <link rel="stylesheet" href="../css/sobremi.css" class="css">



  <!--Data AOS-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" />

</head>


</head>

<body id="pageBody">


    <header>
        <!--  <nav id="navbar">
       
            <div class="log-box">
                <img id="scrollImage" src="../img/index/armadev_blanco.png" height="30px" alt="">
                <span class="btn-menu" id="toggleMenu"><i class="fas fa-bars"></i></span>
            </div>

            <ul class="nav1-principal">
                <li><a href="../../index.html">INICIO</a></li>
                <li><a href="" id="sobre mi"  class="active" >SOBRE MÍ</a></li>
                <li><a href="../pages/tecnologias.html" id="tecnologias">TECNOLOGÍAS</a></li>
                
                <li><a href="../pages/apoyar.html">APOYAR</a></li>
                <li><a href="../pages/contacto.html">CONTACTO</a></li>
            </ul>
        </nav> 
      -->
        <div class="img-header">
         
            <div class="header-info">
                <h2 id="titulo" class="hidden-text">
                    <div class="blue-box">¡Página en desarrollo!</div>
                </h2>
                <p id="parrafo" class="hidden-text"> ¡Hola! Si encuentras valor en mi contenido, tu apoyo es bienvenido.
                    Puedes contribuir
                    compartiendo o considerando una donación. Cada gesto cuenta y ayuda a mejorar este proyecto.</p>

                    <a href="../../view/pages/apoyar.html" class="apoyar">APOYAR</a>

            </div>
           
        </div>
    </header>
  

   







  <button class="go-top"><i class="fas fa-arrow-up fa-2x"></i></button>

 <!-- 
  <footer class=" jumbotron container-fluid py-4 mb-0">
  
    <div class="container">
      <div class="row">

        <div class="col-md-3 ">
          <h5>Sobre mí</h5>
          <p>Mi nombre es Julen Armaolea, full-stack developer. </p>
          <p>MoureDev es el reflejo de mi ilusión por crecer como profesional dentro de la industria del desarrollo del
            software. Como freelance, me he especializado en desarrollo de aplicaciones iOS, Android y web.</p>
        </div>

        <div class="col-md-3 ">
          <h5>Ultimos proyectos</h5>
          <h6>EITB programs</h6>
          <h6>Misacri</h6>
          <h6>Sagarra jo</h6>
          <h6>ZAP</h6>
        </div>

      
        <div class="col-md-3">
          <h5>Portfolio</h5>
          <h6>Android</h6>
          <h6>Ios</h6>
          <h6>Web</h6>
        </div>

        <div class="col-md-3">
          <h5>Armadev</h5>
          <h6>Sobre mi</h6>
          <h6>Contacto</h6>
          <h6>Politica de cookies</h6>
          <h6>Politica de privacidad</h6>
        </div>
      </div>

    
      <hr class="my-4">

      <div class="d-flex justify-content-between">
       
        <div class="enlaces-footer">
          <a href="#">Inicio</a>
          <a href="#">Sobre mí</a>
          <a href="#">Tecnologías</a>
          <a href="#">Apoyar</a>
          <a href="#">Contacto</a>
        </div>

       
        <div class="redes-sociales">
          <a href="https://www.linkedin.com/in/julen-armaolea-elexgaray-342208195/" target="_blank"><i
              class="fab fa-linkedin"></i></a>
          <a href="https://www.instagram.com/julenarma.10" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://github.com/julenarma" target="_blank"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </div>

  </footer>

  <div class="container-fluid bg-dark text-white py-3">
    <div class="container d-flex justify-content-between align-items-center">
   
      <p class="text-muted mb-0">
        © 2024 ARMADEV BY JULEN ARMAOLEA BUILDING SOFTWARE WITH ♥ FROM BASQUE COUNTRY TO THE WORLD.
        |
        <a href="#">POLÍTICA DE PRIVACIDAD</a>
      </p>
     
      <img src="../../view/img/index/armadev_blanco.png" alt="Logo" height="30">
    </div>
  </div>
    -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- Enlace a Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- Enlace a Font Awesome JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"></script>
  <!--Mi Javascript-->
  <script src="../../view/js/main.js"></script>
  <script src="../../view/js/contacto.js"></script>

  <!--Data AOS JS-->
  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

  <!--Sweet Alert 2-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</body>

</html>